<!DOCTYPE html>
<html>
    <head> 
        <title> Mock Test</title>
        <link rel="StyleSheet" href="styl.css">
    </head>
    <body>
        <section class="main">
        <header>
            <div class="hd">
                <h1>MOCK TESTS</h1>
            </div>
        </header>
        <section class="acti">
            <section class="recent-act">
                <h3>Select A Subject</h3>
                <hr style="width:100%;text-align:left;margin-left:0">
                <section>
                <div class="mat">
                <img src="https://learn.byjus.com/static/media/ic-home-maths.e5565e56.svg" style="width:30px;">
                <h4>Mathematics</h4>
                </div>
                <div class="sci">
                <img src="https://learn.byjus.com/static/media/defaultIcon.5cfabbb8.svg" style="width:50px;">
                <h4>Science</h4>
                </div>
                </section>
            </section>
            <section class="topics">
                <h3>Start A Test</h3>
                <hr style="width:100%;text-align:left;margin-left:0">
                <h4>Introduction To Numbers</h4>
                <img src="https://learn.byjus.com/static/media/practice.dbc24d10.svg" style="width:60px; padding-bottom: 5px;">
                <div class="but">
                    <button class="b1"> Start Test </button>
                </div>
            </section>
        </section>
        <section class="tests">
            <h3>Recently Submitted Tests</h3>
            <hr style="width:100%;text-align:left;margin-left:0">
            <p>Get useful insights and rich statistics to review your learning. Select your favourite subject to start</p>
        </section>
        </section>
    </body> 
</html>