<div class="container" >
 
<div class="row">
  <div class="col-lg-8 col-lg-offset-1 " style="margin-top: 3%;">
    <div class="a" style="margin-bottom: 2%;">
      <span style="font-size: 200%;">Dashboard</span>
      <button type="button" style="float: right;margin-left:2%;" class="btn btn-success">Compare</button>
      <input type="text" style="float: right;padding: 1%; width: 28%;" placeholder="Type Username to Compare">
    
    </div>
    
    
  <div class="panel panel-default" >
    <div class="panel-body" style="padding: 0%;">
   <table class="table table-striped" >
    <thead>
      <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Score</th>
        <th>School Name</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Sony</td>
        <td>900</td>
        <td>Sri Chaitanya</td>
        <td><img src="https://hrcdn.net/hackerrank/static/flags/IN.png"></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Bunny</td>
        <td>900</td>
        <td>Bright Beginnings</td>
        <td><img src="https://hrcdn.net/hackerrank/static/flags/IN.png"></td>
      </tr>
      <tr>
        <td>2</td>
        <td>angelic</td>
        <td>850</td>
        <td>Open Skies</td>
        <td><img src="https://hrcdn.net/hackerrank/static/flags/IN.png"></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Dolly</td>
        <td>800</td>
        <td>Eastside Kindergarten</td>
        <td><img src="https://hrcdn.net/hackerrank/static/flags/IN.png"></td>
      </tr>
      <tr>
        <td>4</td>
        <td>ArunChintala</td>
        <td>750</td>
        <td>Eastwood High</td>
        <td><img src="https://hrcdn.net/hackerrank/static/flags/IN.png"></td>
      </tr>
      <tr>
        <td>5</td>
        <td>Soumya123</td>
        <td>700</td>
        <td>Star Reachers</td>
        <td><img src="https://hrcdn.net/hackerrank/static/flags/IN.png"></td>
      </tr>
      <tr>
        <td>6</td>
        <td>angelic</td>
        <td>650</td>
        <td>Open Skies</td>
        <td><img src="https://hrcdn.net/hackerrank/static/flags/IN.png"></td>
      </tr>
      <tr>
        <td>7</td>
        <td>Sowjanya</td>
        <td>600</td>
        <td>Superstars</td>
        <td><img src="https://hrcdn.net/hackerrank/static/flags/IN.png"></td>
      </tr>
      <tr>
        <td>8</td>
        <td>Lolly34</td>
        <td>550</td>
        <td>Heroes</td>
        <td><img src="https://hrcdn.net/hackerrank/static/flags/IN.png"></td>
      </tr>
      <tr>
        <td>9</td>
        <td>Sandy76</td>
        <td>500</td>
        <td>Open Skies</td>
        <td><img src="https://hrcdn.net/hackerrank/static/flags/IN.png"></td>
      </tr>
      <tr>
        <td>10</td>
        <td>Teddy56</td>
        <td>450</td>
        <td>Superstars</td>
        <td><img src="https://hrcdn.net/hackerrank/static/flags/IN.png"></td>
      </tr>
      
      <tr>
        <td id="rank"></td>
        <td id="name" ></td>
        <td id="Score"></td>
        <td id="School_Name"></td>
        <td id="Country">
        </td>
      </tr>

    </tbody>
    </table>
</div>
</div>
  </div>